@font-face {
  font-family: meta-old-french;
  src: url('fonts/meta-old-french.ttf');
}

html {
  background: url("assets/bg-img1.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  /* background: #000;
  color: #ccc; */
  margin: 0 0 0 18pt;
  font-family: meta-old-french, serif;
  font-size: 20pt;
  letter-spacing: 0.2px;
  text-transform: lowercase;
  color: rgb(0, 4, 89);
  line-height: 87%;
}

a {
  color: #117;
  text-decoration: none;
}


#main {
  padding-top: 18px;
  width: 70%;
  margin-left: 15%;
}

#main div {
  font-weight: bold;
  padding-bottom: 9px;
}

.container {
  height:100%;
  width:100%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.truthButton {
  border-radius: 30px;
  font-family: meta-old-french, serif;
  font-size: 16pt;
  text-transform: lowercase;
  padding: 12px 38px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 4, 89);
  border: 2px solid rgb(0, 4, 89);
  text-transform: none;
  font-size: 20pt;
}
